.sub-content {
  display: flex;
  flex-direction: column;
  margin: 0px 32px;
  /* width: 100%; */
}

.sub-status {
  display: flex;
  flex-direction: row;
}

ul {
  gap: 5px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

li {
  display: flex;
}

li:before {
  content: "";
  padding-right: 5px;
}
