.App-link {
  color: #61dafb;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.list-container {
  background-color: #424242;
}

.header {
  padding: 32px 32px 0px;
}

.user-info {
  padding: 42px 0px 12px;
  display: flex;
  flex-direction: column;
}

.plan-info {
  display: flex;
  flex-direction: row;
}

.trial-time {
  font-size: 7px;
  font-family: Roboto;
  margin: -5px 0px 3px;
}
.avatar {
  border-radius: 40px;
}

.plan {
  margin: 0px 0px 0px 10px;
}

.footer-button {
  padding: 16px 32px;
  background-color: #b8b8b8;
}

footer {
  display: flex;
  justify-content: center;
  padding: 16px 0px;
}
